@media (max-width: 991px) { 
	.promo {
		&__wrapper {
			display: flex;
			align-items: center;
		}
		&__link {
			font-size: 13px;
			margin-top: 10px;
		}
	}
	.consultation {
		h2 {
			text-align: center;
		}
		&__descr {
			text-align: center;
			margin-top: 20px;
		}
		&__form {
			display: flex;
			justify-content: center;
		}
	}
	.carousel {
		&__inner {
			img {
				display: block;
				margin: 0 auto;
				width: 500px;
			}
		}
		.slick-dots {
			list-style-type: none;
			li {
				margin: 0 10px;
				button {
					font-size: 0;
					border: none;
					// border-radius: 50%;
					width: 20px;
					height: 7px;
					background-color: rgba(0, 0, 0, 0.5);
					&:focus {
						background-color: black;
					}
				}
			}
		}
		ul {
			display: flex;
			justify-content: center;
			margin-top: 30px;
		}
	}
	.feed {
		img {
			height: 145px;
			width: 145px;
		}
	}
}
@media (max-width: 767px) {
	.promo {
		&__wrapper {
			display: flex;
			align-items: center;
		}
		&__link {
			font-size: 13px;
			margin-top: 10px;
		}
	}
	.header {
		&__logo {
			width: 190px;
		}
		&__phone {
			font-size: 15px;
		}
	}
	.button_main {
		width: 200px;
		height: 35px;
		font-size: 12px;
	}

	.advantages {
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__item	{
			margin-top: 50px;
			&:nth-child(1) {
				margin-top: 0px;
			}
		}
		&__subtitle {
			margin-top: 5px;
		}
		&__descr {
			margin-top: 10px;
		}
	}
	.carousel {
		&__inner {
			width: 100%;
		}
	}
	.catalog {
		&__tab {
			width: 165px;
			height: 35px;
			line-height: 35px;
			font-size: 15px;
		}
	}
	.footer {
		&__info {
			width: 380px;
			height: 250px;
		}
		&__addr {
			font-size: 15px;
		}
		&__phone {
			font-size: 18px;
		}
		&__social-item {
			width: 40px;
			height: 40px;
			img {
				height: 22px;
			}
		}
	}
}

@media (max-width: 575px) {
	.header {
		display: flex;
		flex-direction: column;
		&__official {
			margin-top: 20px;
		}
		&__phone {
			margin-top: 20px;
		}
	}

	.promo {
		&__wrapper {
			display: flex;
			text-align: center;
		}
		&__header {
			font-size: 30px;
		}
		&__icons {
			display: flex; 
			max-width: 320px;
			flex-direction: column;
			margin-top: 0px;
			align-items: center;
		}
		&__icon {
			margin-top: 30px;
		}
	}
	.consultation {
		h2 {
			text-align: center;
			font-size: 26px;
		}
		&__descr {
			text-align: center;
			margin-top: 20px;
		}
		&__form {
			display: flex;
			justify-content: center;
		}
		.feed-form {
			width: 260px;
		}
	}
	.carousel {
		&__inner {
			img {
				display: block;
				margin: 0 auto;
				width: 320px;
			}
		}
	}

	.catalog {
		&__tabs {
			display: flex;
			flex-direction: column
		}
		&__tab {
			width: 165px;
			height: 35px;
			margin-top: 10px;
			line-height: 35px;
			font-size: 14px;
			transform: skewX(-20deg);
			div {
				transform: skewX(20deg);
			}
		}
	}
}